h1 {
	font-size: 3.3em;
	text-align: center;
	color: #14d1a2;
}

div.scrollmenu {
	background-color: #14c4d1;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a{
	display:inline-block;
	color:white;
	text-align:center;
	padding:14px;
	text-decoration:none;
}

div.scrollmenu a:hover{
	background-color: #777;
}
body{
	background-color:#b4f4f7;
